header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header>nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

li {
    cursor: pointer;
}