.navMenu {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--body-bg-color);
    transition: transform 0.5s ease-in-out;
}

.navMenu>ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.xmark {
    position: absolute;
    top: 2rem;
    right: 1.5rem;

    -webkit-mask-image: url("/img/xmark.svg");
    mask-image: url("/img/xmark.svg");
    -webkit-mask-size: 30px 30px;
    mask-size: 30px 30px;
    width: 30px;
    height: 30px;
}

.fadeIn {
    transform: translateX(0%);
}

.fadeOut {
    transform: translateX(-100%);
}